{{!-- <div class="brdistance"><br></div> --}}
<div class="row">
    <div class="col-md-12 box">
        <img src="/assets/img/PII_or_id-04.png" style="height: 100%; width:100%;" alt="">
    </div>
</div>

<div class="row">
    <div class="col-md-4 box">
        <div class="card card-link rounded-0 border-0 img-hover-zoom" style="height: 380px">
            <img class="card-img img-fluid" style="filter: brightness(0.15);object-fit: cover; height: 100%;" src="/assets/img/Program-Profesi-Insinyur.jpg" alt="Bologna">
            <div class="card-img-overlay text-white d-flex flex-column justify-content-center overlayhovers">
                <h3 class="card-title banner">Program Profesi Insinyur</h3>
                <p class="card-text banner">Cara Sarjana Teknik Menjadi Insinyur</p><br>
                <a class="text-white" href="/info/5ea071588ffe08448b1c79d3"><i>Klik disini</i></a>
            </div>
        </div>
    </div>
    <div class="col-md-4 box img-hover-zoom">
        <div class="card card-link rounded-0 border-0 img-hover-zoom" style="height: 380px">
            <img class="card-img img-fluid" style="object-fit: cover; height: 100%;" src="/assets/img/SERTIFIKASI.jpg" alt="Bologna">
            <div class="card-img-overlay text-white d-flex flex-column justify-content-center overlayhovers-middle">
                <h3 class="card-title banner-middle">Sertifikasi</h3>
                <p class="card-text banner">Cara Insinyur menjadi Insinyur Profesional</p><br>
                <a class="text-white" href="/info/5ea0706f0a439043d75ebf3f"><i>Klik disini</i></a>
            </div>
        </div>
    </div>
    <div class="col-md-4 box img-hover-zoom">
        {{!-- <a href="/info/5ea070ff8ffe08448b1c79d1"><img src="/assets/img/PII_or_id-07.png" style="height: 100%; width:100%;" alt=""></a> --}}
        <div class="card card-link rounded-0 border-0 img-hover-zoom" style="height: 380px">
            <img class="card-img img-fluid" style="object-fit: cover; filter: brightness(0.15);height: 100%;" src="/assets/img/Registrasi-STRI.jpg" alt="Bologna">
            <div class="card-img-overlay text-white d-flex flex-column justify-content-center overlayhovers">
                <h3 class="card-title banner">Registrasi STRI</h3>
                <p class="card-text banner">Cara Insinyur Profesional untuk registrasi STRI</p><br>
                <a class="text-white" href="/info/5ea070ff8ffe08448b1c79d1"><i>Klik disini</i></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="carouselExampleIndicators" class="carousel slide col-md-12 box" data-ride="carousel">
        <ol class="carousel-indicators">
            {{#each sliders}}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{this.slideke}}"></li>
            {{!-- <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> --}}
            {{/each}}
        </ol>
        <div class="carousel-inner">
            {{#each sliders}}
            <div class="carousel-item {{#ifCond this.slideke '==' 0}} active {{/ifCond}} ">
                <img class="d-block w-100" src="{{this.file}}" alt="{{this.title}}">
            </div>
            {{/each}}
            {{!-- <div class="carousel-item">
            <img class="d-block w-100" src="/assets/img/PII_or_id-08.png" alt="Second slide">
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" src="/assets/img/PII_or_id-08.png" alt="Third slide">
            </div> --}}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    {{!-- <div class="col-md-12 box rounded">
        <img src="/assets/img/PII_or_id-08.png" style="height: 100%; width:100%;" alt="">
    </div> --}}
</div>

<div class="row">
    <div class="col-md-4 box">
        <a href="/video/5ea0719c8ffe08448b1c79d4">
            <div class="card rounded-0 border-0 img-hover-zoom" style="height: 200px">
                <img class="card-img" src="/assets/img/Inovasi-Mie-Instan.jpg" style="object-fit: cover; height: 100%;" alt="">
                <div class="card-img-overlays justify-content-end w-50" style="background-color: rgba(255, 255, 255, 0.8);">
                    <div class="container ml-1">
                        <div class="labeltag-Video">
                            <div id="Video" ><span class="ml-2 text-white"> Video </span></div>
                            <span>Inovasi by Heru Dewanto</span>
                        </div>
                        <h6 class="card-title Video">Inovasi Mie Instant -  Seri Animasi Eps. 03</h6>
                        <p class="text-card-content">Mari kita lihat kisah dibalik terciptanya mie instant</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 box">
        <a href="/news/5ea071e88ffe08448b1c79d5">
            <div class="card rounded-0 border-0 img-hover-zoom" style="height: 200px">
                <img class="card-img" src="/assets/img/Insinyur-boeing-bergaji-murah.jpg" style="object-fit: cover; height: 100%;" alt="">
                <div class="card-img-overlays justify-content-end w-50" style="background-color: rgba(255, 255, 255, 0.8);">
                    <div class="container ml-1">
                        <div class="labeltag-News">
                            <div id="News" ><span class="ml-2 text-white"> News </span></div>
                        </div>
                        <h6 class="card-title News">ternyata Insinyur Boeing Outsourching & Bergaji Murah</h6>
                        <p class="text-card-content">Persoalan ini mencuat di tengah misteri krisis 737 MAX yang diduga terkandung kesalahan perangkat lunak yang mematikan.</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 box">
        <a href="/artikel/5ea072178ffe08448b1c79d6">
            <div class="card rounded-0 border-0 img-hover-zoom" style="height: 200px">
                <img class="card-img" src="/assets/img/Pentingkah-punya-gelar-profesi-insinyur.jpg" style="object-fit: cover; height: 100%;" alt="">
                <div class="card-img-overlays justify-content-end w-50" style="background-color: rgba(255, 255, 255, 0.8);">
                    <div class="container ml-1">
                        <div class="labeltag-Artikel">
                            <div id="Artikel" ><span class="ml-2 text-white"> Artikel </span></div>
                        </div>
                        <h6 class="card-title Artikel">pentingkah Punya Gelar Profesi Insinyur Setelah Lulus Kuliah?</h6>
                        <p class="text-card-content">Sedangkan untuk kerja nggak diwajibkan punya gelar insinyur. Jadi masih pentingkah punya gelar insinyur?</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row box">
    <div class="col-md-4 box">
        <a href="/news/5e9ddadad0b662114fb9a982">
            <div class="card rounded-0 border-0 img-hover-zoom" style="height: 200px">
                <img class="card-img" src="/assets/img/Insinyur-Teknik-Sipil-Pertama-Indonesia-Lulusan-Belanda.jpg" style="object-fit: cover; height: 100%;" alt="">
                <div class="card-img-overlaysright justify-content-end w-50" style="background-color: rgba(255, 255, 255, 0.8);">
                    <div class="container ml-1">
                        <div class="labeltag-News">
                            <div id="News" ><span class="ml-2 text-white"> News </span></div>
                        </div>
                        <h6 class="card-title News">Insinyur Teknik Sipil Pertama Indonesia Lulusan Belanda</h6>
                        <p class="text-card-content">Jembatan itu dibangun mulai dari Oktober 2007 sampai selesai pada November 2008 dengan menelan biaya Rp24,2 milyar.</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 box">
        <a href="/artikel/5ea072728ffe08448b1c79d7">
            <div class="card rounded-0 border-0 img-hover-zoom" style="height: 200px">
                <img class="card-img" src="/assets/img/Tips-rawat-mesin.jpg" style="object-fit: cover; height: 100%;" alt="">
                <div class="card-img-overlaysright justify-content-end w-50" style="background-color: rgba(255, 255, 255, 0.8);">
                    <div class="container ml-1">
                        <div class="labeltag-Artikel">
                            <div id="Artikel" ><span class="ml-2 text-white"> Tips </span></div>
                            <span>By xxxx</span>
                        </div>
                        <h6 class="card-title Artikel">5 Tips Sederhana Merawat Mesin Mobil bagi Pemula</h6>
                        <p class="text-card-content">Jika Anda kurang memahami seluk beluk mobil dan perawatannya, setidaknya Anda perlu memahami 5 hal ini agar mobil tetap dalam kondisi prima</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4 box">
        <a href="/video/5e9ddb23d0b662114fb9a983">
            <div class="card rounded-0 border-0 img-hover-zoom" style="height: 200px">
                <img class="card-img" src="/assets/img/video.PNG" style="object-fit: cover; height: 100%;" alt="">
                <div class="card-img-overlaysright justify-content-end w-50" style="background-color: rgba(255, 255, 255, 0.8);">
                    <div class="container ml-1">
                        <div class="labeltag-Video">
                            <div id="Video" ><span class="ml-2 text-white"> Video </span></div>
                            <span>Engineering for Kids</span>
                        </div>
                        <h6 class="card-title Video">Yuk Bikin Percobaan Membuat Pelangi</h6>
                        <p class="text-card-content">Isaac Newton dikenal sebagai orang pertama yang menemukan bahwa cahata putih tersusun dari warna-warna spektrum yang terlihat oleh mata.</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
