{{!-- <div class="brdistance"><br></div> --}}
<div class="row">
    <div class="col-md-12 box rounded">
        <img src="/assets/img/PII_or_id-04.png" style="height: 100%; width:100%;" alt="">
    </div>
</div>

<div class="row">
    <div class="col-md-4 box rounded">
        {{!-- <a href="/info/5ea060295ac1a7460090c06f"><img src="/assets/img/PII_or_id-05.png" style="height: 50%; width:100%;" alt=""></a> --}}
        <div class="card card-link">
                        <img class="card-img img-fluid" src="/assets/img/PII_or_id-05.png" alt="Bologna">
                        <div class="card-img-overlay text-white d-flex flex-column justify-content-center overlayhovers">
                            <h1 class="card-title font-weight-bold font-weight-bold">Bologna</h1>
                            <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
                            <a class="text-white" href="#"><i>Klik disini</i></a>
                        </div>
                </div>                
    </div>
    <div class="col-md-4 box rounded">
        <a href="/info/5ea061235ac1a7460090c070"><img src="/assets/img/PII_or_id-06.png" style="height: 100%; width:100%;" alt=""></a>
    </div>
    <div class="col-md-4 box rounded">
        <a href="/info/5ea0614b5ac1a7460090c071"><img src="/assets/img/PII_or_id-07.png" style="height: 100%; width:100%;" alt=""></a>
    </div>
</div>
<div class="row">
    <div class="col-md-12 box rounded">
        <img src="/assets/img/PII_or_id-08.png" style="height: 100%; width:100%;" alt="">
    </div>
</div>

<div class="row">
    <div class="col-md-4 box rounded">
        <div class="card">
            <img class="card-img"   src="/assets/img/8bit.jpg" alt="">
                <div class="card-img-overlays justify-content-end w-50" style="background-color: rgba(255, 255, 255, 0.7);">
                    <div class="container ml-2">
                    <div class="bg-orange w-50"><p class="ml-2 text-white"> News </p></div>     
                    <h5 class="card-title font-weight-bold ">Card title</h5>
                        <p class="text-card-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo quibusdam, quos dolore similique accusantium   </p>
                    </div>
                </div>
        </div>
    </div>
    <div class="col-md-4 box rounded">
        {{!-- <a href="/news/5ea056de9b7cef1f08d6bd31"><img src="/assets/img/PII_or_id-10.png" style="height: 100%; width:100%;" alt=""></a> --}}
         <div class="card">
            <img class="card-img"   src="/assets/img/8bit.jpg" alt="">
                <div class="card-img-overlays justify-content-end w-50" style="background-color: rgba(255, 255, 255, 0.7);">
                    <div class="container ml-2">
                    <div class="bg-danger w-50"><p class="ml-2 text-white"> News </p></div>
                        <h5 class="card-title font-weight-bold">Card title</h5>
                        <p class="text-card-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo quibusdam, quos dolore similique accusantium   </p>
                    </div>
                </div>
        </div>
    </div>
    <div class="col-md-4 box rounded">
        {{!-- <a href="/artikel/5ea05b1606abd934440e865a"><img src="/assets/img/PII_or_id-11.png" style="height: 100%; width:100%;" alt=""></a> --}}
         <div class="card">
            <img class="card-img"   src="/assets/img/8bit.jpg" alt="">
                <div class="card-img-overlays justify-content-end w-50" style="background-color: rgba(255, 255, 255, 0.7);">
                    <div class="container ml-2">
                    <div class="bg-danger w-50"><p class="ml-2 text-white"> News </p></div>
                    
                          <h5 class="card-title font-weight-bold">Card title</h5>
                        <p class="text-card-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo quibusdam, quos dolore similique accusantium   </p>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="row box">
    <div class="col-md-4 box rounded">
        {{!-- <a href="/news/5e9dd1055a08893c8c9b04c8"><img src="/assets/img/PII_or_id-12.png" style="height: 100%; width:100%;" alt=""></a> --}}
        <div class="card">
            <img class="card-img"   src="/assets/img/8bit.jpg" alt="">
                <div class="card-img-overlaysright justify-content-end w-50" style="background-color: rgba(255, 255, 255, 0.7);">
                    <div class="container ml-2">
                    <div class="bg-danger w-50"><p class="ml-2 text-white"> News </p></div>
                    
                          <h5 class="card-title font-weight-bold">Card title</h5>
                        <p class="text-card-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo quibusdam, quos dolore similique accusantium   </p>
                    </div>
                </div>
        </div>
    </div>
    <div class="col-md-4 box rounded">
        <a href="/artikel/5ea053a24004e20108a17da0"><img src="/assets/img/PII_or_id-13.png" style="height: 100%; width:100%;" alt=""></a>
    </div>
    <div class="col-md-4 box rounded">
        <a href="/video/5e9dd1855a08893c8c9b04c9"><img src="/assets/img/PII_or_id-14.png" style="height: 100%; width:100%;" alt=""></a>
    </div>
</div>