{{!-- <div class="brdistance"><br></div> --}}
<div class="row">
    <div class="col-md-12 box rounded">
        <img src="/assets/img/PII_or_id-04.png" style="height: 100%; width:100%;" alt="">
    </div>
</div>

<div class="row">
    <div class="col-md-4 box rounded">
        <img src="/assets/img/PII_or_id-05.png" style="height: 100%; width:100%;" alt="">
    </div>
    <div class="col-md-4 box rounded">
        <img src="/assets/img/PII_or_id-06.png" style="height: 100%; width:100%;" alt="">
    </div>
    <div class="col-md-4 box rounded">
        <img src="/assets/img/PII_or_id-07.png" style="height: 100%; width:100%;" alt="">
    </div>
</div>
<div class="row">
    <div class="col-md-12 box rounded">
        <img src="/assets/img/PII_or_id-08.png" style="height: 100%; width:100%;" alt="">
    </div>
</div>

<div class="row">
    <div class="col-md-4 box rounded">
        <img src="/assets/img/PII_or_id-09.png" style="height: 100%; width:100%;" alt="">
    </div>
    <div class="col-md-4 box rounded">
        <img src="/assets/img/PII_or_id-10.png" style="height: 100%; width:100%;" alt="">
    </div>
    <div class="col-md-4 box rounded">
        <img src="/assets/img/PII_or_id-11.png" style="height: 100%; width:100%;" alt="">
    </div>
</div>
<div class="row box">
    <div class="col-md-4 box rounded">
        <a href="/news"><img src="/assets/img/PII_or_id-12.png" style="height: 100%; width:100%;" alt=""></a>
    </div>
    <div class="col-md-4 box rounded">
        <img src="/assets/img/PII_or_id-13.png" style="height: 100%; width:100%;" alt="">
    </div>
    <div class="col-md-4 box rounded">
        <a href="/video"><img src="/assets/img/PII_or_id-14.png" style="height: 100%; width:100%;" alt=""></a>
    </div>
</div>