<div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8 box" style="background-color: #fff;">
        <!-- Blog Post -->
        {{#each posts}}
            <img width="100%" src="{{file}}" alt="Card image cap">
            <div class="card mb-4">
                <div id="labelbox">
                    <p class="card-text">{{status}}</p>
                </div>
                <div class="card-body">
                    <h1 class="card-title">{{title}}</h1>
                    {{!-- <p class="card-text">{{description}}</p> --}}
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.                        
                    </p>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                    <p class="card-text">
                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel                        
                    </p>
                </div>
            </div>
        {{/each}}

    </div>

    {{> 'default/sidebar'}}
    <!-- Sidebar Widgets Column -->

</div>
<!-- /.row -->
