<div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8 box" style="background-color: #fff;">
        <!-- Blog Post -->
        {{#each posts}}
            <img width="100%" src="{{file}}" alt="Card image cap">
            <div class="card mb-4">
                <div id="labelbox">
                    <p class="card-text">{{status}}</p>
                </div>
                <div class="card-body">
                    <h1 class="card-title">{{title}}</h1>
                    {{!-- <p class="card-text">{{description}}</p> --}}
                    <p class="card-text">
                    Jembatan sepanjang 145 meter melintasi sungai Code. Jembatan dengan lebar 15 meter itu menghubungkan Kabupaten Sleman dengan Kota Yogyakarta, melewati Jalan Condro Lukito dan A.M. Sangaji, menuju ke Kaliurang dan kawasan perguruan tinggi. Dengan melewati jembatan itu, waktu tempuh pun berkurang 25 menit dari Kawasan Monjali menuju Universitas Gadjah Mada dan RS dr. Sardjito.
                    </p>
                    <p class="card-text">
                    Jembatan itu dibangun mulai dari Oktober 2007 sampai selesai pada November 2008 dengan menelan biaya Rp24,2 milyar dari APBN tahun 2007 dan 2008. Jembatan itu diberi nama Jembatan Wreksodiningrat.
                    </p>
                    <p class="card-text">
                    “Pemberian nama Wreksodiningrat berdasarkan atas pertimbangan untuk mengenang reputasi, karya, jasa dan pengabdian Prof. Ir. KRMT Wreksodiningrat yang merupakan pelaku sejarah konstruksi di Indonesia. Dia juga sebagai seorang birokrat dan akademisi yang mengutamakan kepentingan rakyat yang selalu berbasis pada pengetahuan dan sumber daya lokal,” kata
                    </p>
                </div>
            </div>
        {{/each}}

    </div>

    {{> 'default/sidebar'}}
    <!-- Sidebar Widgets Column -->

</div>
<!-- /.row -->
