<div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8 box" style="background-color: #fff;">
        <!-- Blog Post -->
            <iframe width="100%" height="360" frameborder="0" allow="accelerometer; autoplay; encrypted_media; gyroscope; picture-in-picture" allowfullscreen
                src="{{post.videoLink}}">
            </iframe>
            <div class="card mb-4">
                <div id="labelboxvideo">
                    <p class="card-text">{{post.status}}</p>
                </div>
                <div class="card-body">
                    <h1 class="card-title video">{{post.title}}</h1>
                    <p class="card-text">{{{post.description}}}</p>
                </div>
            </div>
    </div>

    {{> 'default/sidebar'}}
    <!-- Sidebar Widgets Column -->

</div>
<!-- /.row -->
