{{> 'default/header'}}
  <body style="background-color: #575756">

  {{> 'default/top-navigation'}}
  <main role="main" class="container">
    {{> admin/messages}}
    {{{ body }}}
  </main>
  <!-- /.container -->
{{> 'default/footer'}}