<div class="container">
    <div class="alert-secondary text-center">
        <h1>File Manager</h1>
    </div>

    <table class="table table-bordered table-responsive">
        <thead class="bg-dark text-center">
            <tr class="text-white" style="white-space:nowrap">
                <th>Display Images</th>
                <th>Images Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {{#each images}}
            <tr>
                <td><img height="100" src="/uploads/{{this}}" alt=""></td>
                <td>{{this}}</td>
                <td>
                    <a href="/admin/delete-fileManager/{{this}}" class="fa fa-lg fa-trash" onclick="return confirm('Are you sure to delete this Image ?');"></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <form action="/admin/posts/create" method="post" enctype="multipart/form-data">
        <label for="file">File Upload</label>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <input type="file" class="form-control" id="file" name="uploadedFile" required>
                </div>
            </div>
            <div class="col-md-4">            
                <button class="btn btn-outline-primary btn-md" type="submit">Add New Image</button>
            </div>
        </div>
    </form>
</div>