<div class="flip-box">
    <div class="flip-box-inner">
        <div class="flip-box-front">
            <img src="/assets/img/PII_or_id-16.png" style="width: 25px;" alt="">
        </div>
        <div class="flip-box-back">
            <img src="/assets/img/PII_or_id-15.png" style="width: 25px;" alt="">
        </div>
    </div>
</div>