    <footer class="container">
      <div class="row">
          <div class="col-md-2 box" style="background-color: #f39200; padding: 60px 55px 40px 55px;">
            <img style="width:100%; height:100%" src="/assets/img/Logo-PII-footer.png"></img>
          </div>

          <div class="col-md-6 box" style="background-color: #eb6c24; padding:60px 40px 5px 60px">
            <div class="row">
              {{!-- <div class="col-md-2 box rounded">
                <p id="footerPII">Persatuan <br> Insinyur <br> Indonesia</p>
              </div> --}}
              <div class="col-md-6 box rounded">
                <p id="footerContent"><span id="footerTitle">Sekretariat / <i>Secretariat</i></span><br>
                Gedung Ps Admail Lt.2 <br> 
                Jl. Percetakan Negara No.19 <br> 
                Jakarta Pusat 10570 <br> 
                <i class="fa fa-phone"></i> (+62-21) 2148 1780 <br> 
                <i class="fa fa-envelope"></i> info@pii.or.id</p>
              </div>
              <div class="col-md-6 box rounded">
                <p id="footerContent"><span id="footerTitle">Hotline </span> <br>
                Biro Keanggotaan / <i>Membership Bureau</i> <br>
                <i class="fa fa-phone"></i> (+62-21) 2148 1780 <br>
                <i class="fa fa-envelope"></i> keanggotaan@pii.or.id <br>
                &emsp; birokeanggotaanpii@gmail.com</span></p>
              </div>
          </div>
        </div>
        <div class="col-md-4 box" style="background-color: #eb6c24; padding:60px 60px 5px 30px">
              <p id="footerContent"><br>
              <a href="https://www.instagram.com/pii_pusat/"><i class="fa fa-instagram fa-lg"></i> @PII_Pusat </a><br> 
              <a href="https://twitter.com/PII_Pusat"><i class="fa fa-twitter fa-lg"></i> @PII_Pusat </a><br> 
              <a href="https://www.facebook.com/persatuaninsinyurindonesia/?modal=admin_todo_tour"><i class="fa fa-facebook-square fa-lg"></i> Persatuan Insinyur Indonesia</a>
              </p>
        </div>
      </div>
      <div class="row">
          <div class="col-md-2 box" style="background-color: #f39200">
          </div>
          <div class="col-md-10 box" style="background-color: #eb6c24;padding:0px 40px">
            <p colspan="4" style="text-align: right"><span id="footerContent">Copyright © 2020 Persatuan Insinyur Indonesia. All rights reserved</span></p>
          </div>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/assets/js/vendor/popper.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
    <script>
      $('[data-toggle="collapse"]').on('mouseenter', function() {
        $(this).parents('.cards').find('.collapse').collapse('show');
    });
    </script>
    <script type="text/javascript">
        $(window).on('load',function(){
            $('#initModal').modal('show');
        });
    </script>
    {{!-- language section --}}
    <script>
      // lenguage translation
      var language = {
        in: {
          cariPost: "Cari Post",
          keanggotaan: "KEANGGOTAAN",
          sertifikasi: "SERTIFIKASI",
          registrasi: "REGISTRASI"
        },
        en: {
          cariPost: "Search Post",
          keanggotaan: "MEMBERSHIP",
          sertifikasi: "CERTIFICATION",
          registrasi: "REGISTRATION"
        }
      };

      //define language via localstorage
      if(localStorage.getItem('lang') === '#en'){
          document.getElementById("indo").style.color = "#1c1d1b";
          keanggotaan.textContent = language.en.keanggotaan;
          sertifikasi.textContent = language.en.sertifikasi;
          registrasi.textContent = language.en.registrasi;
          cariPost.textContent = language.en.cariPost;
      } else if(localStorage.getItem('lang') === '#in'){
          document.getElementById("engl").style.color = "#1c1d1b";
          keanggotaan.textContent = language.in.keanggotaan;
          sertifikasi.textContent = language.in.sertifikasi;
          registrasi.textContent = language.in.registrasi;
          cariPost.textContent = language.in.cariPost;
      }
      //define language via windows hash
      if(window.location.hash){
        if(window.location.hash === "#en"){
          localStorage.setItem('lang','#en');
          document.getElementById("indo").style.color = "#1c1d1b";
          document.getElementById("engl").style.color = "#eb6c24";
          keanggotaan.textContent = language.en.keanggotaan;
          sertifikasi.textContent = language.en.sertifikasi;
          registrasi.textContent = language.en.registrasi;
          cariPost.textContent = language.en.cariPost;
        }
        else if(window.location.hash === "#in"){
          localStorage.setItem('lang','#in');
          document.getElementById("engl").style.color = "#1c1d1b";
          document.getElementById("indo").style.color = "#eb6c24";
          keanggotaan.textContent = language.in.keanggotaan;
          sertifikasi.textContent = language.in.sertifikasi;
          registrasi.textContent = language.in.registrasi;
          cariPost.textContent = language.in.cariPost;
        }
      };
    </script>
  </body>
</html>
