    <footer class="container rounded" style="background-color: #eb6c24; padding: 20px 60px;">
      <table class="table" style="table-layout: fixed;">
        <tr>
          <td id="footerPII">Persatuan <br> Insinyur Indonesia</td>
          <td><span id="footerTitle">Sekretariat PII</span> <br> 
          <span id="footerContent">Gedung Ps Admail Lt.2 <br> 
          Jl. Percetakan Negara No.19 <br> 
          Jakarta Pusat 10570 <br> 
          <i class="fa fa-phone"></i> (+62-21) 2148 1780 <br> 
          <i class="fa fa-envelope"></i> info@pii.or.id</span></td>
          <td><span id="footerTitle">Informasi Hot-Line</span> <br>
          <span id="footerContent">Biro Keanggotaan <br>
          <i class="fa fa-phone"></i> (+62-21) 2148 1780 <br>
          <i class="fa fa-envelope"></i> keanggotaan@pii.or.id <br>
          &emsp; birokeanggotanpii@gmail.com</span></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4" style="text-align: right"><span id="footerContent">Copyright © 2020 Persatuan Insinyur Indonesia. All rights reserved</span></td>
        </tr>
      </table>
    </footer>
    {{!-- <footer class="blog-footer">
      <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer> --}}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/assets/js/vendor/popper.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
