<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://lh3.googleusercontent.com/proxy/bPvC8Pa4AKGYXf6THJlj5Ku1ej0RtIJciYNtZ5vKDlkuRa5L_d5_-SNh9F2REMons0-YhydSA_9bfaU-NONLl-NhhOzm34dFgyJlCHDhbwxARWr5">

    <title>Persatuan Insinyur Indonesia</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="/css/blog.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet'>
    <style>
      a{
        color: inherit;
      }
      /* [1] The container */
.img-hover-zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.15);
}
    .dropbtn {
      background-color: transparent;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {background-color: #ddd;}

    .dropdown:hover .dropdown-content {display: block;}

    .dropdown:hover .dropbtn {background-color: transparent;}

    #baris1{
      float: right;
    }
    #baris2{
      float: right;
      color: white;
      font-family:'Montserrat';
    }
    #footerPII{
      color: #1c1d1b;
      text-transform: capitalize;
      font-size: 15pt;
      font-family:'Montserrat';
      font-weight: bold;
      line-height: 1;
    }
    #footerTitle{
      color: #1c1d1b;
      text-transform: capitalize;
      font-size: 10pt;
      font-family:'Montserrat';
      font-weight: bold;
    }
    #footerContent{
      color: #f1f1f1;
      font-size: 10pt;
      font-family:'Montserrat';
      line-height: 1.5;
    }
    #example1 {
      padding: 25px 45px;
      background: url(/assets/img/header.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
    }
    ul.navbar-nav.ml-auto.medium.mb-2.mb-md-0 li.nav-item{
      color: #eb6c24;
      font-size: 14px;
      font-weight: bold;
    }
    ul.navbar-nav.ml-auto.large.mb-2.mb-md-0 li.nav-item a{
      color: #eb6c24;
    }
    ul.navbar-nav.ml-auto.large.mb-2.mb-md-0 li.nav-item a i.fa.fa-chevron-down{
      color: #3c3c3b;
    }
    ul.navbar-nav.ml-auto.small.mb-2.mb-md-0 li{
      color: #3c3c3b;
    }
    ul.navbar-nav.ml-auto.small li.nav-item a{
      color: #3c3c3b;
      font-size: 9pt;
      font-family:'Montserrat';
      font-weight: bold;
      padding: 1px;
    }
    .brdistance{
      line-height:1%;
    }
    .box {
    padding: 0px;
    }
    .box-quote {
    padding: 10px 5px 5px 5px;
    }
    .box-last {
    padding: 0px 0px 10px 0px;
    }
    .menu-baris-2{
      transition: 0.4s ease-in-out;
    }
    .carousel-control-next{
      right: -5%;
    }
    .carousel-control-prev{
      left: -5%;
    }
    
    .menu-baris-2:hover{
      color:#eb6c24 !important;
      transition: 0.4s ease-in-out;
    }
    .dropdown-title{
      color:white !important;
      transition: 0.4s ease-in-out;
      font-family: 'Montserrat';
    }
    .dropdown-title:hover{
      background:black;
      color:#eb6c24 !important;
    }
    .dropdown-title-1{
      color:#eb6c24 !important;
      transition: 0.4s ease-in-out;
      font-family: 'Montserrat';
    }
    .dropdown-title-1:hover{
      background:black;
      color:white !important;
    }
    .dropdown-header{      
      font-family:'Montserrat';
      color:#eb6c24;
      font-weight: bolder;
      border-bottom: 1px solid white;
      text-transform: uppercase;
    }
    #menubar2{
      padding: 0px 25px;
      font-size: 10pt;
      font-weight:lighter;
    }
    .card.mb-4{
      padding: 50px 85px 10px; 
      border:none;
    }
    .card-body{
      padding-top: 50px;
      font-family: 'Montserrat';
      font-size: 14pt;
    }
    .card-title.News{
      font-family: 'Montserrat'; 
      color:#eb6c24;
      text-transform: capitalize;
    }
    .card-title.Info{
      font-family: 'Montserrat';
      color:#eb6c24;
      text-transform: capitalize;
    }
    .card-title.Video{
      font-family: 'Montserrat'; 
      color:#a3195c;
      text-transform: capitalize;
    }
    .card-title.Artikel{
      font-family: 'Montserrat'; 
      color:#00a199;
      text-transform: capitalize;
    }
    .card-title.banner{
      padding-top:150px; 
      color:#eb6c24; 
      font-family: 'Sanchez'; 
      text-transform: uppercase;
      width: 250px; 
      word-break: break-word;
    }
    .card-title.banner-middle{
      padding-top:150px; 
      color:#f1f1f1; 
      font-family: 'Sanchez'; 
      text-transform: uppercase;
      width: 250px; 
      word-break: break-word;
    }
    .card-text.banner{
      font-size:9pt;
      font-weight:lighter;
    }
    .card-img{
      overflow: hidden; /* [1.2] Hide the overflowing of child elements */
      transition: transform .5s ease;
    }
    .img-hover-zoom:hover h6 {
      text-decoration:underline;
    }
    #labelall{
      width: 100%;
      padding: 10px 60px;
      font-family:'Montserrat';
      background-color:#eb6c24;
      color: #f1f1f1;
      text-transform: uppercase;
      font-size: 15pt;  
    }
    #labelall-artikel{
      width: 100%;
      padding: 10px 60px;
      font-family:'Montserrat';
      background-color:#00a199;
      color: #f1f1f1;
      text-transform: uppercase;
      font-size: 15pt;  
    }
    #labelall-video{
      width: 100%;
      padding: 10px 60px;
      font-family:'Montserrat';
      background-color:#a3195c;
      color: #f1f1f1;
      text-transform: uppercase;
      font-size: 15pt;  
    }
    #labelbox{
      width: 125px;
      padding: 2px 10px;
      font-family:'Montserrat';
      background-color:#eb6c24;
      color: #f1f1f1;
      text-transform: uppercase;
      font-size: 10pt;  
    }
    #labelboxvideo{
      width: 125px;
      padding: 2px 10px;
      font-family:'Montserrat';
      background-color:#a3195c;
      color: #f1f1f1;
      text-transform: uppercase;
      font-size: 10pt;  
    }
    #labelboxartikel{
      width: 125px;
      padding: 2px 10px;
      font-family:'Montserrat';
      background-color:#00a199;
      color: #f1f1f1;
      text-transform: uppercase;
      font-size: 10pt;  
    }
    #withoutline{
      text-decoration: none;
    }
    .dropdown-toggle[aria-expanded="true"]:after {
      transform: rotateX(180deg) ;
    }
    /*for animation*/ 
    .dropdown-toggle:after {
      border: none;
      content:"\f107 ";
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 20pt;
      position: relative;
      width: 9px;
      height: 1%;
      pointer-events: none;
      transition: all linear 0.25s;
      transform: rotate(0deg);
      color: #3c3c3b;
    }
    {{!-- rubix --}}
    .labeltag-Video{
      display: flex;
      padding-bottom:10px;
      color: #a3195c;
      font-family:'Montserrat';
      font-size:6pt;
    }
    .labeltag-News{
      display: flex;
      padding-bottom:10px;
      color: #eb6c24;
      font-family:'Montserrat';
      font-size:6pt;
    }
    .labeltag-Info{
      display: flex;
      padding-bottom:10px;
      color: #eb6c24;
      font-family:'Montserrat';
      font-size:6pt;
    }
    .labeltag-Artikel{
      display: flex;
      padding-bottom:10px;
      color: #00a199;
      font-family:'Montserrat';
      font-size:6pt;
    }
    #Video{
      background-color: #a3195c; 
      width:50px;
      margin-right:2px;
      text-transform: uppercase;
      padding: 1px;
    }
    #Info{
      background-color: #eb6c24; 
      width:50px;
      margin-right:2px;
      text-transform: uppercase;
      padding: 1px;
    }
    #News{
      background-color: #eb6c24; 
      width:50px;
      margin-right:2px;
      text-transform: uppercase;
      padding: 1px;
    }
    #Artikel{
      background-color: #00a199;
      width:50px;
      margin-right:2px;
      text-transform: uppercase;
      padding: 1px;
    }
    .overlayhovers{
      font-family:'Montserrat';
      font-size: 10pt;
    }
    .overlayhovers-middle{
      background:rgba(235, 108, 36, 0.5);
      font-family:'Montserrat';
      font-size: 10pt;
    }
    #sponsor{
      padding: 5px 15px 5px 5px;
      width: 50%;
      height: 50%;
      float:left;
    }
    </style>
  </head>
