    <div class="col-md-4 box" style="background-color: whitesmoke">
        <img width="100%" src="/assets/img/PII_or_id-07.png" alt="">
        <a href="/news"><img width="100%" src="/assets/img/PII_or_id-12.png" alt=""></a>
        <img width="100%" src="/assets/img/PII_or_id-10.png" alt="">
        <a href="/video"><img width="100%" src="/assets/img/PII_or_id-14.png" alt=""></a>

    </div>
