    <div class="col-md-4 box" style="background-color: whitesmoke">
        <div class="card card-link rounded-0 border-0 img-hover-zoom" style="height: 380px">
            <img class="card-img img-fluid" style="object-fit: cover; filter: brightness(0.15);height: 100%;" src="/assets/img/Registrasi-STRI.jpg" alt="Bologna">
            <div class="card-img-overlay text-white d-flex flex-column justify-content-center overlayhovers">
                <h3 class="card-title banner">Registrasi STRI</h3>
                <p class="card-text banner">Cara Insinyur Profesional untuk registrasi STRI</p><br>
                <a class="text-white" href="/info/5ea070ff8ffe08448b1c79d1"><i>Klik disini</i></a>
            </div>
        </div>
        {{!-- <div class="img-hover-zoom">
            <a href="/info/5ea070ff8ffe08448b1c79d1"><img src="/assets/img/PII_or_id-07.png" style="height: 100%; width:100%;" alt=""></a>
        </div> --}}
        <a href="/news/5e9ddadad0b662114fb9a982">
            <div class="card rounded-0 border-0 img-hover-zoom" style="height: 200px">
                <img class="card-img" src="/assets/img/Insinyur-Teknik-Sipil-Pertama-Indonesia-Lulusan-Belanda.jpg" style="object-fit: cover; height: 100%;" alt="">
                <div class="card-img-overlaysright justify-content-end w-50" style="background-color: rgba(255, 255, 255, 0.8);">
                    <div class="container ml-1">
                        <div class="labeltag-news">
                            <div id="news" ><span class="ml-2 text-white"> News </span></div>
                        </div>
                        <h6 class="card-title news">Insinyur Teknik Sipil Pertama Indonesia Lulusan Belanda</h6>
                        <p class="text-card-content">Jembatan itu dibangun mulai dari Oktober 2007 sampai selesai pada November 2008 dengan menelan biaya Rp24,2 milyar.</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="/news/5ea071e88ffe08448b1c79d5">
            <div class="card rounded-0 border-0 img-hover-zoom" style="height: 200px">
                <img class="card-img" src="/assets/img/Insinyur-boeing-bergaji-murah.jpg" style="object-fit: cover; height: 100%;" alt="">
                <div class="card-img-overlays justify-content-end w-50" style="background-color: rgba(255, 255, 255, 0.8);">
                    <div class="container ml-1">
                        <div class="labeltag-news">
                            <div id="news" ><span class="ml-2 text-white"> News </span></div>
                        </div>
                        <h6 class="card-title news">ternyata Insinyur Boeing Outsourching & Bergaji Murah</h6>
                        <p class="text-card-content">Persoalan ini mencuat di tengah misteri krisis 737 MAX yang diduga terkandung kesalahan perangkat lunak yang mematikan.</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="/video/5e9ddb23d0b662114fb9a983">
            <div class="card rounded-0 border-0 img-hover-zoom" style="height: 200px">
                <img class="card-img" src="/assets/img/video.PNG" style="object-fit: cover; height: 100%;" alt="">
                <div class="card-img-overlaysright justify-content-end w-50" style="background-color: rgba(255, 255, 255, 0.8);">
                    <div class="container ml-1">
                        <div class="labeltag-video">
                            <div id="video-inovasi" ><span class="ml-2 text-white"> Video </span></div>
                            <span>Engineering for Kids</span>
                        </div>
                        <h6 class="card-title video">Yuk Bikin Percobaan Membuat Pelangi</h6>
                        <p class="text-card-content">Isaac Newton dikenal sebagai orang pertama yang menemukan bahwa cahata putih tersusun dari warna-warna spektrum yang terlihat oleh mata.</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
