  <nav class="container navbar navbar-expand-md navbar-light bg-light" id="example1">
    <a class="navbar-brand my-auto" href="#"><img style="width:300px; height:100%" src="/assets/img/Logo-Header-PII.png"></img></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100 flex-md-column" id="navbarCollapse">
        <ul class="navbar-nav ml-auto medium mb-2 mb-md-0" style="font-family: 'Montserrat';">
            <li class="nav-item nav-link py-1">
                engineer bring people to the better life &ensp;
            </li>
            <li class="nav-item nav-link py-1">
              <i class="fa fa-2x fa-search"></i>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto large mb-2 mb-md-0" style="font-size:24.5pt; font-family:Impact, Charcoal, sans-serif">
            <li class="nav-item active">
                <a class="nav-link py-1" href="#">SERTIFIKASI<img src="/assets/img/PII_or_id-16.png" style="width: 25px;" alt="">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" href="#">REGISTRASI<img src="/assets/img/PII_or_id-16.png" style="width: 25px;" alt="">|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" href="#">KEANGGOTAAN<img src="/assets/img/PII_or_id-16.png" style="width: 25px;" alt=""></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto small">
            <li class="nav-item active">
                <a class="nav-link py-1" href="/">BERANDA | </a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" href="#">TENTANG PII | </a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" href="#">ORGANISASI | </a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" href="#">DAFTAR PII | </a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" href="#">DAFTAR IP | </a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" href="#">PUBLIKASI | </a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" href="#">BURSA KERJA | </a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" href="#">PROJECT & SERVICE</a>
            </li>
            <li>&emsp;</li>
            <li>&emsp;</li>
            <li>&emsp;</li>
        </ul>
    </div>
  </nav>