  <nav class="container navbar navbar-expand-md navbar-light bg-light" id="example1">
    <a class="navbar-brand my-auto" href="/"><img style="width:300px; height:100%" src="/assets/img/Logo-Header-PII_rev.png"></img></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100 flex-md-column" id="navbarCollapse">
        <ul class="navbar-nav ml-auto medium mb-2 mb-md-0 row" style="font-family: 'Montserrat';">
            {{!-- <li class="nav-item nav-link py-1">
                engineer bring people to the better life &ensp;
            </li> --}}
            <li class="nav-item py-1">
                <a href="#in" id="indo" onclick="window.location.href='#in';location.reload()" style="text-decoration: none;">
                    INDONESIA &nbsp;| &nbsp;
                </a>
            </li>
            <li class="nav-item py-1">
                <a href="#en" id="engl" onclick="window.location.href='#en';location.reload()" style="text-decoration: none;">
                    ENGLISH &ensp;
                </a>
            </li>
            <li class="nav-item nav-link py-1">
              <a href="" data-toggle="modal" data-target="#searchModal"><i class="fa fa-2x fa-search"></i></a>
            </li>
        </ul>
        {{!-- modal output --}}
        <div class="modal fade" id="searchModal" role="dialog">
            <div class="modal-dialog modal-lg">            
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="cariPost" class="card-title Info">Cari Post</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                <div class="modal-body">
                        <form action="/search" method="post" class="form-inline d-flex justify-content-center md-form form-sm active">
                            <input class="form-control form-control-md mr-3 w-75" type="text" placeholder="type something to search ..." name="query" aria-label="Search">
                            <button type="submit" style="color:whitesmoke;background-color: #eb6c24" class="btn btn-md">
                                <i class="fa fa-search" aria-hidden="true"></i> search
                            </button>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>        
            </div>
        </div>

        <ul class="navbar-nav ml-auto large mb-2 mb-md-0 row" style="font-size:24pt; font-family:Impact, Charcoal, sans-serif">
            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link py-1 dropdown disabled" data-toggle="dropdown" href="#"><span id="keanggotaan">
                            KEANGGOTAAN
                        </span> 
                        {{> 'default/flip-image'}}
                    </a>
                    {{!-- <a class="nav-link py-1 dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">KEANGGOTAAN</a> --}}
                    <div class="dropdown-menu bg-dark" style="top:50px;">
                        <div class="cards">
                            <div class="card-header" id="headingOne">
                                <h5 class="dropdown-header"><a href="/keanggotaan/mengapa-menjadi-anggota-pii" id="withoutline">MENGAPA MENJADI ANGGOTA PII ?</a></h5>
                                <h5 class="dropdown-header"><a href="/keanggotaan/syarat-anggota-baru" id="withoutline">SYARAT ANGGOTA BARU</a></h5>
                                <h5 class="dropdown-header"><a href="/keanggotaan/syarat-perpanjang-keanggotaan" id="withoutline">SYARAT PERPANJANG KEANGGOTAAN</a></h5>
                                <h5 class="dropdown-header"><a href="/keanggotaan/biaya" id="withoutline">BIAYA</a></h5>
                                <div class="rightcollapse">
                                    <h5 class="dropdown-header">DAFTAR DI SINI</h5>
                                    <span class="bg-dark tooltipcollapse">
                                        <h5 class="dropdown-header"><a href="http://updmember.pii.or.id/auth/register" target="_blank" id="withoutline">ANGGOTA BARU</a></h5>
                                        <h5 class="dropdown-header"><a href="http://updmember.pii.or.id/auth/check_kta" target="_blank" id="withoutline">PERPANJANGAN ANGGOTA</a></h5>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item active">
                <div class="dropdown">
                    <a class="nav-link py-1 dropdown disabled" data-toggle="dropdown" href="#">| <span id="sertifikasi">SERTIFIKASI</span>
                    {{> 'default/flip-image'}}
                    </a>
                    {{!-- <a class="nav-link py-1 dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">| SERTIFIKASI</a> --}}
                <div class="dropdown-menu bg-dark" style="top:50px;">
                       <div  id="accordionExample">
                            <div class="cards">
                                <div class="card-header" id="headingOne">
                                    <h5 class="dropdown-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">INFO</h5>
                                </div>
                                <div id="collapseOne" class="collapse"  aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <a class="dropdown-item dropdown-title" href="/sertifikasi/mengapa-perlu-sertifikasi">Mengapa perlu sertifikasi ?</a>
                                    <a class="dropdown-item dropdown-title" href="/sertifikasi/persyaratan">Persyaratan</a>
                                    <a class="dropdown-item dropdown-title" href="/sertifikasi/tingkatan">Tingkatan</a>
                                    <a class="dropdown-item dropdown-title" href="/sertifikasi/cara-mengisi-formulir">Cara Mengisi Formulir</a>
                                    <a class="dropdown-item dropdown-title" href="/sertifikasi/bakuan-kompetensi">Bakuan Kompetensi</a>
                                    <a class="dropdown-item dropdown-title" href="/sertifikasi/data-pemegang-ip">Data Pemegang IP</a>
                                </div>
                            </div>  
                            <div class="cards">
                                <div class="card-header" id="headingOne">
                                    <h5 class="dropdown-header" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">UPDATE FAIP</h5>
                                </div>
                                <div id="collapseTwo" class="collapse"  aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <a class="dropdown-item dropdown-title" href="/sertifikasi/persyaratan">Persyaratan</a>
                                    <a class="dropdown-item dropdown-title" href="http://updmember.pii.or.id/faip" target="_blank">Daftar di sini</a>
                                </div>
                            </div>  
                            <div class="card-header" id="headingOne">
                                <h5 class="dropdown-header"><a href="http://updmember.pii.or.id/faip" target="_blank" id="withoutline">DAFTAR DI SINI</a></h5>
                            </div>   
                            <div class="cards">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="dropdown-header" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"><a href="/sertifikasi/pengembangan-profesi" id="withoutline">PENGEMBANGAN PROFESI</a></h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <a class="dropdown-item dropdown-title" href="/sertifikasi/pelatihan-pemenuhan-pkb">Pelatihan Pemenuhan PKB</a>
                                    <a class="dropdown-item dropdown-title" href="/sertifikasi/bakuan-pkb">Bakuan PKB</a>
                                    <a class="dropdown-item dropdown-title" href="/sertifikasi/form-pkb">Form PKB</a>
                                    <a class="dropdown-item dropdown-title" href="/sertifikasi/konsultasi">Konsultasi</a>
                                </div>
                            </div>
                            <div class="cards">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="dropdown-header" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">KERJASAMA SERTIFIKASI</h5>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <a class="dropdown-item dropdown-title" href="/sertifikasi/ska">SKA</a>
                                </div>
                            </div>
                            <div class="cards">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="dropdown-header" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">SERTIFIKASI INTERNASIONAL</h5>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <a class="dropdown-item dropdown-title" href="/sertifikasi/aer">AER</a>
                                    <a class="dropdown-item dropdown-title" href="/sertifikasi/acpe">ACPE</a>
                                    <a class="dropdown-item dropdown-title" href="/sertifikasi/apec-er">APEC ER</a>
                                </div>
                            </div>
                   </div>
                </div>
            </li>
                        <li class="nav-item">
                {{!-- <a class="nav-link py-1" href="#">REGISTRASI<img src="/assets/img/PII_or_id-16.png" style="width: 25px;" alt="">|</a> --}}
               <div class="dropdown">
                    <a class="nav-link py-1 dropdown disabled" data-toggle="dropdown" href="#">| <span id="registrasi">REGISTRASI</span>
                    {{> 'default/flip-image'}}
                    </a>
                    {{!-- <a class="nav-link py-1 dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">| REGISTRASI</a> --}}
                    <div class="dropdown-menu bg-dark" style="top:50px;">
                        <div class="cards">
                            <div class="card-header" id="headingOne">
                                {{!-- <h5 class="dropdown-header"><a href="/registrasi/deskripsi-stri" id="withoutline">DESKRIPSI STRI</a></h5> --}}
                                <h5 class="dropdown-header"><a href="/registrasi/mengapa-perlu-stri" id="withoutline">MENGAPA PERLU STRI</a></h5>
                                <h5 class="dropdown-header"><a href="/registrasi/persyaratan" id="withoutline">PERSYARATAN</a></h5>
                                <h5 class="dropdown-header"><a href="/registrasi/berpraktik-sebelum-2014" id="withoutline">BERPRAKTIK SEBELUM 2014</a></h5>
                                <h5 class="dropdown-header"><a href="http://updmember.pii.or.id/member/stri" target="_blank" id="withoutline">Daftar Di sini</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto small row">
            <li class="nav-item active">
                <div class="dropdown">
                <a class="nav-link py-1 dropdown disabled" data-toggle="dropdown" href="#"><span class="menu-baris-2">PII</span> | </a>
                <div class="dropdown-menu bg-dark">
                    <div  id="accordionExample">
                        <div class="card-header" id="headingOne">
                            <h5 class="dropdown-header"><a id="withoutline" href="/pii/pii-2018-2021" style="color: #eb6c24">PII 2018-2021</a></h5>
                        </div>
                        <div class="cards">
                            <div class="card-header" id="headingOne">
                                <h5 class="dropdown-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><a id="withoutline" href="/pii/tentang-kami" style="color: #eb6c24">TENTANG KAMI</a></h5>
                            </div>
                            <div id="collapseOne" class="collapse"  aria-labelledby="headingOne" data-parent="#accordionExample">
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/pii/tentang-kami#visi-misi">Visi Misi</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/pii/tentang-kami#data">Data</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/pii/tentang-kami#filosofi-logo">Filosofi Logo</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/pii/tentang-kami#kode-etik">Kode Etik</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/pii/tentang-kami#landasan-hukum">Landasan Hukum</a>
                                {{!-- <a class="dropdown-item dropdown-title" id="menubar2" href="/pii/tentang-kami#peraturan-organisasi">Peraturan Organisasi</a> --}}
                                {{!-- <a class="dropdown-item dropdown-title" id="menubar2" href="/pii/tentang-kami#struktur-organisasi">Struktur Organisasi</a> --}}
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/pii/tentang-kami#landasan-organisasi">Landasan Organisasi</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/pii/tentang-kami#mitra-organisasi">Mitra Organisasi</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/pii/tentang-kami#keanggotaan-internasional">Keanggotaan Internasional</a>
                            </div>
                        </div>
                        <div class="card-header" id="headingOne">
                            <h5 class="dropdown-header"><a id="withoutline" href="/pii/dewan-insinyur" style="color: #eb6c24">DEWAN INSINYUR</a></h5>
                        </div>
                        <div class="cards">
                            <div class="card-header" id="headingOne">
                                <h5 class="dropdown-header" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"><a id="withoutline" href="/struktur-organisasi/index" style="color: #eb6c24">STRUKTUR ORGANISASI</a></h5>
                            </div>
                            <div id="collapseTwo" class="collapse"  aria-labelledby="headingOne" data-parent="#accordionExample">
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/struktur-organisasi/pengurus-pusat">Pengurus Pusat</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/struktur-organisasi/pengurus-wilayah">Pengurus Wilayah</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/struktur-organisasi/pengurus-cabang">Pengurus Cabang</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/struktur-organisasi/dewan-penasehat">Dewan Penasehat</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/struktur-organisasi/dewan-pakar">Dewan Pakar</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/struktur-organisasi/majelis-kehormatan-etik">Majelis Kehormatan Etik</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/struktur-organisasi/majelis-standard-keinsinyuran">Majelis Standard Keinsinyuran</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/struktur-organisasi/badan-kejuruan">Badan Kejuruan</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/struktur-organisasi/iabee">IABEE</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/struktur-organisasi/lski">LSKI</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/struktur-organisasi/ceips">CEIPS</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/struktur-organisasi/forum-insinyur-muda">Forum Insinyur Muda</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/struktur-organisasi/forum-perempuan-insinyur">Forum Perempuan Insinyur</a>
                            </div>
                        </div>
                        <div class="cards">
                            <div class="card-header" id="headingTwo">
                                <h5 class="dropdown-header" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"><a id="withoutline" href="/pii/sejarah-pii" style="color: #eb6c24">SEJARAH PII</a></h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/pii/sejarah-pii#perkembangan-pii">Perkembangan PII</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/pii/sejarah-pii#ketua-umum-dari-masa-ke-masa">Ketua Umum Dari Masa Ke Masa</a>
                            </div>
                        </div>
                        <div class="cards">
                            <div class="card-header">
                                <h5 class="dropdown-header"><a id="withoutline" href="/Video/hymne-pii" style="color: #eb6c24">Hymne PII</a></h5>
                                <h5 class="dropdown-header"><a id="withoutline" href="/Video/mars-pii" style="color: #eb6c24">mars PII</a></h5>
                            </div>
                        </div>
                   </div>
                </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                <a class="nav-link py-1 dropdown disabled" data-toggle="dropdown" href="#"><span class="menu-baris-2">PROGRAM PROFESI INSINYUR</span> | </a>
                <div class="dropdown-menu bg-dark">
                    <div  id="accordionExample">
                        <div class="cards">
                            <div class="card-header" id="headingOne">
                                <h5 class="dropdown-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><a id="withoutline" href="/program-profesi-insinyur/info" style="color: #eb6c24">INFO</a></h5>
                            </div>
                            <div id="collapseOne" class="collapse"  aria-labelledby="headingOne" data-parent="#accordionExample">
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/program-profesi-insinyur/info#mengapa-perlu-ikut-ppi">Mengapa perlu ikut PPI ?</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/program-profesi-insinyur/info#persyaratan">Persyaratan</a>
                            </div>
                        </div>
                        <div class="cards">
                            <div class="card-header" id="headingTwo">
                                <h5 class="dropdown-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseTwo"><a id="withoutline" href="/program-profesi-insinyur/pt-ps-ppi" style="color: #eb6c24">PT PS PPI</a></h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/program-profesi-insinyur/pt-ps-ppi#deskripsi-pt-ps-ppi">Deskripsi PT PS PPI</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/program-profesi-insinyur/pt-ps-ppi#daftar-pt-ps-ppi">Daftar PT PS PPI</a>
                            </div>
                        </div>
                   </div>
                </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                <a class="nav-link py-1 dropdown disabled" data-toggle="dropdown" href="#"><span class="menu-baris-2">PUBLIKASI</span> | </a>
                <div class="dropdown-menu bg-dark">
                    <div class="cards">
                        <div class="card-header" id="headingOne">
                            <h5 class="dropdown-header"><a id="withoutline" href="/Press-Release" style="color: #eb6c24">PRESS RELEASE</a></h5>
                            <h5 class="dropdown-header"><a id="withoutline" href="/Jurnal" style="color: #eb6c24">JURNAL</a></h5>
                            <h5 class="dropdown-header"><a id="withoutline" href="/Annual-Report" style="color: #eb6c24">ANNUAL REPORT</a></h5>
                            <h5 class="dropdown-header"><a id="withoutline" href="/Additional-Report" style="color: #eb6c24">ADDITION REPORT</a></h5>
                        </div>
                    </div>
                </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" href="/Bursa-Kerja"><span class="menu-baris-2">BURSA KERJA</span> | </a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" href="/Project-and-Service"><span class="menu-baris-2">PROJECT & SERVICE</span> | </a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                <a class="nav-link py-1 dropdown disabled" data-toggle="dropdown" href="#"><span class="menu-baris-2">GALLERY</span> | </a>
                <div class="dropdown-menu bg-dark">
                    <div class="cards">
                        <div class="card-header" id="headingOne">
                            <h5 class="dropdown-header"><a id="withoutline" href="/gallery/foto" style="color: #eb6c24">FOTO</a></h5>
                            <h5 class="dropdown-header"><a id="withoutline" href="/gallery/video" style="color: #eb6c24">VIDEO</a></h5>
                        </div>
                    </div>
                </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                <a class="nav-link py-1 dropdown disabled" data-toggle="dropdown" href="#"><span class="menu-baris-2">EVENTS</span> | </a>
                <div class="dropdown-menu bg-dark">
                    <div class="cards">
                        <div class="card-header" id="headingOne">
                            <h5 class="dropdown-header"><a id="withoutline" href="/Events/Engineer-Room" style="color: #eb6c24">ENGINEER ROOM</a></h5>
                            <h5 class="dropdown-header"><a id="withoutline" href="/Events/Webinar" style="color: #eb6c24">WEBINAR</a></h5>
                            <h5 class="dropdown-header"><a id="withoutline" href="/Events/FGD" style="color: #eb6c24">FGD</a></h5>
                            <h5 class="dropdown-header"><a id="withoutline" href="/Events/Others" style="color: #eb6c24">OTHERS</a></h5>
                        </div>
                    </div>
                </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                <a class="nav-link py-1 dropdown disabled" data-toggle="dropdown" href="#"><span class="menu-baris-2">PII DAILY</span></a>
                <div class="dropdown-menu bg-dark">
                    <div class="cards">
                        <div class="card-header" id="headingOne">
                            <h5 class="dropdown-header"><a id="withoutline" href="/news" style="color: #eb6c24">BERITA</a></h5>
                            <h5 class="dropdown-header"><a id="withoutline" href="/artikel" style="color: #eb6c24">ARTIKEL</a></h5>
                            <h5 class="dropdown-header"><a id="withoutline" href="/tips" style="color: #eb6c24">TIPS</a></h5>
                            <h5 class="dropdown-header"><a id="withoutline" href="/video" style="color: #eb6c24">VIDEO</a></h5>
                            <h5 class="dropdown-header"><a id="withoutline" href="/info" style="color: #eb6c24">ENGINEERS WEEKLY</a></h5>
                        </div>
                    </div>
                </div>
                </div>
            </li>
            <li>&emsp;</li>
            <li>&ensp;</li>
        </ul>
    </div>
  </nav>
