  <nav class="container navbar navbar-expand-md navbar-light bg-light" id="example1">
    <a class="navbar-brand my-auto" href="/"><img style="width:300px; height:100%" src="/assets/img/Logo-Header-PII.png"></img></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100 flex-md-column" id="navbarCollapse">
        <ul class="navbar-nav ml-auto medium mb-2 mb-md-0" style="font-family: 'Montserrat';">
            <li class="nav-item nav-link py-1">
                engineer bring people to the better life &ensp;
            </li>
            <li class="nav-item nav-link py-1">
              <i class="fa fa-2x fa-search"></i>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto large mb-2 mb-md-0" style="font-size:24pt; font-family:Impact, Charcoal, sans-serif">
            <li class="nav-item active">
                <div class="dropdown">
                <a class="nav-link py-1 dropdown disabled" data-toggle="dropdown" href="#"><a id="withoutline" href="/sertifikasi">SERTIFIKASI
                    {{> 'default/flip-image'}}
                |</a></a>
                <div class="dropdown-menu bg-dark">
                       <div  id="accordionExample">
                            <div class="cards">
                                <div class="card-header" id="headingOne">
                                    <a class="dropdown-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">INFO</a>
                                </div>
                        <div id="collapseOne" class="collapse"  aria-labelledby="headingOne" data-parent="#accordionExample">
                            <a class="dropdown-item dropdown-title" href="/info">Mengapa saya perlu sertifikasi ?</a>
                            <a class="dropdown-item dropdown-title" href="#">Persyaratan</a>
                            <a class="dropdown-item dropdown-title" href="#">Tingkatan IP</a>
                            <a class="dropdown-item dropdown-title" href="#">Cara Mengisi Formulir</a>
                            <a class="dropdown-item dropdown-title" href="#">Bakuan Kompetisi</a>         
                        </div>
                    </div>  
                     <div class="card-header" id="headingOne">
                    <h5 class="dropdown-header">SERTIFIKAT KEAHLIAN</h5>
                    </div>
                        <div class="cards">
                            <div class="card-header" id="headingTwo">
                                <a class="dropdown-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseTwo">PENGEMBANGAN PROFESI </a>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <a class="dropdown-item dropdown-title" href="#">Pelatihan</a>
                                <a class="dropdown-item dropdown-title" href="#">Konsultasi</a>
                            </div>
                        <div class="card-header" id="headingOne">    
                            <h5 class="dropdown-header">SERTIFIKASI INTERNASIONAL</h5>
                        </div>   
                        </div>  
                   </div>
                </div>
            </li>
            <li class="nav-item">
                {{!-- <a class="nav-link py-1" href="#">REGISTRASI<img src="/assets/img/PII_or_id-16.png" style="width: 25px;" alt="">|</a> --}}
               <div class="dropdown">
                <a class="nav-link py-1 dropdown disabled" data-toggle="dropdown" href="#"><a id="withoutline" href="/registrasi">REGISTRASI
                    {{> 'default/flip-image'}}
                |</a></a>
                <div class="dropdown-menu bg-dark">
                   <div class="container">
                    <a class="dropdown-item dropdown-title" href="#">Desktripsi STRI</a>
                    <a class="dropdown-item dropdown-title" href="#">Mengapa Saya Perlu STRI ?</a>
                    <a class="dropdown-item dropdown-title" href="#">Persyaratan</a>
                    </div>
                </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                <a class="nav-link py-1 dropdown disabled" data-toggle="dropdown" href="#"><a id="withoutline" href="/keanggotaan">KEANGGOTAAN
                    {{> 'default/flip-image'}}
                </a></a>

                 <div class="dropdown-menu bg-dark">
                   <div class="container">
                    <a class="dropdown-item dropdown-title" href="#">Daftar Disini</a>
                    <a class="dropdown-item dropdown-title" href="#">Syarat Anggota Baru</a>
                    <a class="dropdown-item dropdown-title" href="#">Syarat Perpanjang Keanggotaan</a>
                    <a class="dropdown-item dropdown-title" href="#">Biaya</a>
                    </div>
                </div>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto small">
            <li class="nav-item active">
                <div class="dropdown">
                <a class="nav-link py-1 dropdown disabled" data-toggle="dropdown" href="#"><a id="withoutline" href="/">PII | </a></a>
                <div class="dropdown-menu bg-dark">
                    <div  id="accordionExample">
                        <div class="cards">
                            <div class="card-header" id="headingOne">
                                <h5 class="dropdown-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">TENTANG KAMI</h5>
                            </div>
                            <div id="collapseOne" class="collapse"  aria-labelledby="headingOne" data-parent="#accordionExample">
                                <a class="dropdown-item dropdown-title" id="menubar2" href="#">Visi Misi</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="#">Data</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="#">Filosofi Logo</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="#">Kode Etik</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="#">Landasan Hukum</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="#">Peraturan Organisasi</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="#">Struktur Organisasi</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="#">Landasan Organisasi</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="#">Mitra Organisasi</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="#">Keanggotaan Internasional</a>
                            </div>
                        </div>
                        <div class="cards">
                            <div class="card-header" id="headingTwo">
                                <h5 class="dropdown-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseTwo">SEJARAH PPI</h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <a class="dropdown-item dropdown-title" id="menubar2" href="#">Perkembangan PII</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="#">Ketua Umum Dari Masa Ke Masa</a>
                            </div>
                        </div>
                   </div>
                </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                <a class="nav-link py-1 dropdown disabled" data-toggle="dropdown" href="#"><a id="withoutline" href="/">PROGRAM PROFESI INSINYUR | </a></a>
                <div class="dropdown-menu bg-dark">
                    <div  id="accordionExample">
                        <div class="cards">
                            <div class="card-header" id="headingOne">
                                <h5 class="dropdown-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">INFO</h5>
                            </div>
                            <div id="collapseOne" class="collapse"  aria-labelledby="headingOne" data-parent="#accordionExample">
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/info">Mengapa saya perlu ikut PPI ?</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="#">Persyaratan</a>
                            </div>
                        </div>
                        <div class="cards">
                            <div class="card-header" id="headingTwo">
                                <h5 class="dropdown-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseTwo">PT PS PPI</h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <a class="dropdown-item dropdown-title" id="menubar2" href="#">Deskripsi PT PS PPI</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="#">Daftar PT PS PPI</a>
                            </div>
                        </div>
                   </div>
                </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                <a class="nav-link py-1 dropdown disabled" data-toggle="dropdown" href="#"><a id="withoutline" href="/">PII DAILY | </a></a>
                <div class="dropdown-menu bg-dark">
                   <div class="container">
                        <a class="dropdown-item dropdown-title" id="menubar2" href="#">Berita</a>
                        <a class="dropdown-item dropdown-title" id="menubar2" href="#">Artikel</a>
                        <a class="dropdown-item dropdown-title" id="menubar2" href="#">Engineers Weekly</a>
                        <a class="dropdown-item dropdown-title" id="menubar2" href="#">Video</a>
                    </div>
                </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                <a class="nav-link py-1 dropdown disabled" data-toggle="dropdown" href="#"><a id="withoutline" href="/">PUBLIKASI | </a></a>
                <div class="dropdown-menu bg-dark">
                   <div class="container">
                        <a class="dropdown-item dropdown-title" id="menubar2" href="#">Annual Report</a>
                        <a class="dropdown-item dropdown-title" id="menubar2" href="#">Additional Report</a>
                    </div>
                </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" style="margin-top: -2px" href="#">BURSA KERJA | </a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" style="margin-top: -2px" href="#">PROJECT & SERVICE</a>
            </li>
            <li>&emsp;</li>
            <li>&emsp;</li>
        </ul>
    </div>
  </nav>