  <nav class="container navbar navbar-expand-md navbar-light bg-light" id="example1">
    <a class="navbar-brand my-auto" href="/"><img style="width:300px; height:100%" src="/assets/img/Logo-Header-PII.png"></img></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-100 flex-md-column" id="navbarCollapse">
        <ul class="navbar-nav ml-auto medium mb-2 mb-md-0" style="font-family: 'Montserrat';">
            <li class="nav-item nav-link py-1">
                engineer bring people to the better life &ensp;
            </li>
            <li class="nav-item nav-link py-1">
              <i class="fa fa-2x fa-search"></i>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto large mb-2 mb-md-0" style="font-size:24pt; font-family:Impact, Charcoal, sans-serif">
            <li class="nav-item">
                <div class="dropdown">
                  <a class="nav-link py-1 dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">KEANGGOTAAN</a>
                 <div class="dropdown-menu bg-dark">
                    <div class="cards">
                        <div class="card-header" id="headingOne">
                            <h5 class="dropdown-header"><a href="/info/5ea0c7e48ffe08448b1c79e5" id="withoutline">SYARAT PERPANJANG KEANGGOTAAN</a></h5>
                            <h5 class="dropdown-header"><a href="/info/5ea0c7cc8ffe08448b1c79e4" id="withoutline">SYARAT ANGGOTA BARU</a></h5>
                            <h5 class="dropdown-header"><a href="/info/5ea0c7f38ffe08448b1c79e6" id="withoutline">BIAYA</a></h5>
                            <h5 class="dropdown-header"><a href="/info/5ea0c7b88ffe08448b1c79e3" id="withoutline">DAFTAR DI SINI</a></h5>
                        </div>
                    </div>
                </div>
                </div>
            </li>

            <li class="nav-item">
                {{!-- <a class="nav-link py-1" href="#">REGISTRASI<img src="/assets/img/PII_or_id-16.png" style="width: 25px;" alt="">|</a> --}}
               <div class="dropdown">
                    <a class="nav-link py-1 dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">| REGISTRASI</a>
                    <div class="dropdown-menu bg-dark">
                        <div class="cards">
                            <div class="card-header" id="headingOne">
                                <h5 class="dropdown-header"><a href="/info/5ea0c75c8ffe08448b1c79e1" id="withoutline">DESKRIPSI STRI</a></h5>
                                <h5 class="dropdown-header"><a href="/info/5ea0c77f8ffe08448b1c79e2" id="withoutline">MENGAPA PERLU STRI ?</a></h5>
                                <h5 class="dropdown-header"><a href="/info/5ea0c4fa8ffe08448b1c79db" id="withoutline">PERSYARATAN</a></h5>
                                <h5 class="dropdown-header"><a href="/info/5ea0c4fa8ffe08448b1c79db" id="withoutline">Daftar Di Sini</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item active">
                <div class="dropdown">
                    <a class="nav-link py-1 dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">| SERTIFIKASI</a>
                <div class="dropdown-menu bg-dark">
                       <div  id="accordionExample">
                            <div class="cards">
                                <div class="card-header" id="headingOne">
                                    <h5 class="dropdown-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><a href="/info" id="withoutline">INFO</a></h5>
                                </div>
                        <div id="collapseOne" class="collapse"  aria-labelledby="headingOne" data-parent="#accordionExample">
                            <a class="dropdown-item dropdown-title" href="/info/5e9dda91d0b662114fb9a981">Mengapa perlu sertifikasi ?</a>
                            <a class="dropdown-item dropdown-title" href="/info/5ea0c4fa8ffe08448b1c79db">Persyaratan</a>
                            <a class="dropdown-item dropdown-title" href="/info/5ea0c50b8ffe08448b1c79dc">Tingkatan IP</a>
                            <a class="dropdown-item dropdown-title" href="/info/5ea0c53a8ffe08448b1c79dd">Cara Mengisi Formulir</a>
                            <a class="dropdown-item dropdown-title" href="/info/5ea0c54e8ffe08448b1c79de">Bakuan Kompetisi</a>         
                        </div>
                    </div>  
                     <div class="card-header" id="headingOne">
                        <h5 class="dropdown-header"><a href="/info/5ea0c8138ffe08448b1c79e7" id="withoutline">SERTIFIKAT KEAHLIAN</a></h5>
                    </div>
                        <div class="cards">
                            <div class="card-header" id="headingTwo">
                                <h5 class="dropdown-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseTwo"><a href="/info/5ea0c8288ffe08448b1c79e8" id="withoutline">PENGEMBANGAN PROFESI</a></h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <a class="dropdown-item dropdown-title" href="/info/5ea0c7038ffe08448b1c79df">Pelatihan</a>
                                <a class="dropdown-item dropdown-title" href="/info/5ea0c7138ffe08448b1c79e0">Konsultasi</a>
                            </div>
                        <div class="card-header" id="headingOne">    
                            <h5 class="dropdown-header"><a href="/info/5ea0c83d8ffe08448b1c79e9" id="withoutline">SERTIFIKASI INTERNASIONAL</a></h5>
                        </div>   
                        <div class="card-header" id="headingOne">    
                            <h5 class="dropdown-header"><a href="/info/5ea0c7b88ffe08448b1c79e3" id="withoutline">DAFTAR DI SINI</a></h5>
                        </div>   
                        </div>  
                   </div>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto small">
            <li class="nav-item active">
                <div class="dropdown">
                <a class="nav-link py-1 dropdown" data-toggle="dropdown" href="#"><span class="menu-baris-2">PII</span> | </a>
                <div class="dropdown-menu bg-dark">
                    <div  id="accordionExample">
                        <div class="cards">
                            <div class="card-header" id="headingOne">
                                <h5 class="dropdown-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><a id="withoutline" href="/news" style="color: #eb6c24">TENTANG KAMI</a></h5>
                            </div>
                            <div id="collapseOne" class="collapse"  aria-labelledby="headingOne" data-parent="#accordionExample">
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/info/5ea0cb478ffe08448b1c79ef">Visi Misi</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/info/5ea0cb598ffe08448b1c79f0">Data</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/info/5ea0cb6d8ffe08448b1c79f1">Filosofi Logo</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/info/5ea0cb818ffe08448b1c79f2">Kode Etik</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/info/5ea0cb918ffe08448b1c79f4">Landasan Hukum</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/info/5ea0cbbd8ffe08448b1c79f5">Peraturan Organisasi</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/info/5ea0cbca8ffe08448b1c79f6">Struktur Organisasi</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/info/5ea0cbda8ffe08448b1c79f7">Landasan Organisasi</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/info/5ea0cbe78ffe08448b1c79f8">Mitra Organisasi</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/info/5ea0cbf98ffe08448b1c79f9">Keanggotaan Internasional</a>
                            </div>
                        </div>
                        <div class="cards">
                            <div class="card-header" id="headingTwo">
                                <h5 class="dropdown-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseTwo"><a id="withoutline" href="/info/5ea0cddc8ffe08448b1c79fd" style="color: #eb6c24">SEJARAH PII</a></h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/info/5ea0cc0c8ffe08448b1c79fa">Perkembangan PII</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/info/5ea0cc228ffe08448b1c79fb">Ketua Umum Dari Masa Ke Masa</a>
                            </div>
                        </div>
                   </div>
                </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                <a class="nav-link py-1 dropdown" data-toggle="dropdown" href="#"><span class="menu-baris-2">PROGRAM PROFESI INSINYUR</span> | </a>
                <div class="dropdown-menu bg-dark">
                    <div  id="accordionExample">
                        <div class="cards">
                            <div class="card-header" id="headingOne">
                                <h5 class="dropdown-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><a id="withoutline" href="/info" style="color: #eb6c24">INFO</a></h5>
                            </div>
                            <div id="collapseOne" class="collapse"  aria-labelledby="headingOne" data-parent="#accordionExample">
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/info/5ea0cb048ffe08448b1c79ec">Mengapa perlu ikut PPI ?</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/info/5ea0c4fa8ffe08448b1c79db">Persyaratan</a>
                            </div>
                        </div>
                        <div class="cards">
                            <div class="card-header" id="headingTwo">
                                <h5 class="dropdown-header" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseTwo"><a id="withoutline" href="/info/5ea0cdf88ffe08448b1c79fe" style="color: #eb6c24">PT PS PPI</a></h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/info/5ea0cb1f8ffe08448b1c79ed">Deskripsi PT PS PPI</a>
                                <a class="dropdown-item dropdown-title" id="menubar2" href="/info/5ea0cb308ffe08448b1c79ee">Daftar PT PS PPI</a>
                            </div>
                        </div>
                   </div>
                </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                <a class="nav-link py-1 dropdown" data-toggle="dropdown" href="#"><span class="menu-baris-2">PUBLIKASI</span> | </a>
                <div class="dropdown-menu bg-dark">
                    <div class="cards">
                        <div class="card-header" id="headingOne">
                            <h5 class="dropdown-header"><a id="withoutline" href="/info/5ea0cab28ffe08448b1c79ea" style="color: #eb6c24">Annual Report</a></h5>
                            <h5 class="dropdown-header"><a id="withoutline" href="/info/5ea0cac38ffe08448b1c79eb" style="color: #eb6c24">Additional Report</a></h5>
                            <h5 class="dropdown-header"><a id="withoutline" href="/info/5ea641b6f8b4ad6dcf75feaf" style="color: #eb6c24">jurnal</a></h5>
                        </div>
                    </div>
                </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" href="/info/5ea073308ffe08448b1c79da"><span class="menu-baris-2">BURSA KERJA</span> | </a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" href="/info/5ea073128ffe08448b1c79d8"><span class="menu-baris-2">PROJECT & SERVICE</span> | </a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" href="/info/5ea6420ef8b4ad6dcf75feb0"><span class="menu-baris-2">GALLERY</span> | </a>
            </li>
            <li class="nav-item">
                <a class="nav-link py-1" href="/info/5ea6422af8b4ad6dcf75feb1"><span class="menu-baris-2">EVENTS</span> | </a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                <a class="nav-link py-1 dropdown" data-toggle="dropdown" href="#"><span class="menu-baris-2">PII DAILY</span></a>
                <div class="dropdown-menu bg-dark">
                    <div class="cards">
                        <div class="card-header" id="headingOne">
                            <h5 class="dropdown-header"><a id="withoutline" href="/news" style="color: #eb6c24">Berita</a></h5>
                            <h5 class="dropdown-header"><a id="withoutline" href="/artikel" style="color: #eb6c24">Artikel</a></h5>
                            <h5 class="dropdown-header"><a id="withoutline" href="/info" style="color: #eb6c24">Engineers Weekly</a></h5>
                            <h5 class="dropdown-header"><a id="withoutline" href="/video" style="color: #eb6c24">Video</a></h5>
                        </div>
                    </div>

                   <div class="container">
                        <a class="dropdown-item dropdown-title" id="menubar2" href="/news"></a>
                        <a class="dropdown-item dropdown-title" id="menubar2" href="/artikel"></a>
                        <a class="dropdown-item dropdown-title" id="menubar2" href="/info"></a>
                        <a class="dropdown-item dropdown-title" id="menubar2" href="/video"></a>
                    </div>
                </div>
                </div>
            </li>
            <li>&emsp;</li>
            <li>&ensp;</li>
        </ul>
    </div>
  </nav>
