<footer class="footer">
    <div class=" container-fluid ">
        <nav>
        <ul>
            <li>
            <a href="https://www.creative-tim.com">
                Creative Tim
            </a>
            </li>
            <li>
            <a href="http://presentation.creative-tim.com">
                About Us
            </a>
            </li>
            <li>
            <a href="http://blog.creative-tim.com">
                Blog
            </a>
            </li>
        </ul>
        </nav>
        <div class="copyright" id="copyright">
        &copy; 
        <script>
            document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
        </script>, Designed by <a href="/" target="_blank">Persatuan Insinyur Indonesia</a>. Coded by <a href="/" target="_blank">PII Developer Tim</a>.
        </div>
    </div>
</footer>
<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/admin/logout">Logout</a>
            </div>
        </div>
    </div>
</div>
{{!-- Templates Admin --}}
<script src="/template-assets/js/core/jquery.min.js"></script>
<script src="/template-assets/js/core/popper.min.js"></script>
<script src="/template-assets/js/core/bootstrap.min.js"></script>
<script src="/template-assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="/template-assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="/template-assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/template-assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script src="/template-assets/demo/demo.js"></script>
<script>
$(document).ready(function() {
    // Javascript method's body can be found in assets/js/demos.js
    demo.initDashboardPageCharts();
});
</script>
{{!-- Table Script --}}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#datatab').DataTable();
    } );
</script>
<script src="/template-assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script src="/template-assets/demo/demo.js"></script>


{{!-- CKEditor --}}
<script>
    CKEDITOR.replace(
        'description',{
            "extraPlugins" : 'imagebrowser',
            "imageBrowser_listUrl" : "/admin/files"
        });
    $("form").submit( function(e) {
        var messageLength = CKEDITOR.instances['description'].getData().replace(/<[^>]*>/gi, '').length;
        if( !messageLength ) {
            alert( 'Please fill description' );
            e.preventDefault();
        }
    });
</script>


<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('.auto-hide').slideUp(300);
        }, 2000);
        $("#create-category-button").on('click', function (e) {
            e.preventDefault();
            var data = $("#category-title").val();
            $.ajax({
                url: '/admin/category',
                type: 'POST',
                data: {name: data},
                success: function (response) {
                    var html = `<tr>
                        <td>${response.title}</td>
                        <td class="d-flex justify-content-center">
                            <a href="/admin/category/edit/${response._id}" class="btn btn-sm btn-warning mr-2">Edit</a>
                            <form action="/admin/category/${response._id}?newMethod=DELETE" method="post">
                                <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>`;
                    $(".category-list").append(html);
                }
            });
            $("#category-title").val('');
        });
        $("#update-category-button").on('click', function (e) {
            e.preventDefault();
            var data = $("#category-title").val();
            var id = $("#category-id").val();
            $.ajax({
                url: `/admin/category/edit/${id}`,
                type: 'POST',
                data: {name: data},
                success: function (response) {
                    window.location.href = response.url;
                }
            });
        });
        $("#tipepostsidebar").change(function(){
            var selectedtipe = $("#tipepostsidebar option:selected").val();
            $.ajax({
                url: `/admin/sidebar/edit/`,
                type: 'POST',
                data: {name: selectedtipe},
                success: function (response) {
                    window.location.href = '/admin/sidebar';
                }
            });
        });
</script>