<div class="sidebar" data-color="orange">
    <!--        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"    -->
    <div class="logo">
    <a href="/" class="simple-text logo-mini">
        PII
    </a>
    <a href="/admin" class="simple-text logo-normal">
        Admin Dashboard
    </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
    <ul class="nav">
        <li>
            <a href="/admin">
                <i class="now-ui-icons design_app"></i>
                <p>Dashboard</p>
            </a>
        </li>

        <li class="nav-item" data-toggle="tooltip">
            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
                <i class="fa fa-fw fa-wrench"></i>
                <p>Customize Posts</p>
            </a>
            <ul class="sidenav-second-level collapse" id="collapseComponents">
                <li>
                    <a href="/admin/posts/create">
                        <i class="now-ui-icons design_app"></i>
                        <p>Create New Post</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/posts">
                        <i class="now-ui-icons design_app"></i>
                        <p>View All Posts</p> 
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip">
            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseStrukturOrganisasi" data-parent="#exampleAccordion">
                <i class="fa fa-fw fa-user"></i>
                <p>Struktur Organisasi</p>
            </a>
            <ul class="sidenav-second-level collapse" id="collapseStrukturOrganisasi">
                <li>
                    <a href="/admin/pengurus">
                        <i class="fa fa-fw fa-list"></i>
                        <p>View All</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/pengurus/create">
                        <i class="fa fa-fw fa-plus"></i>
                        <p>Create One</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/jenis-jabatan">
                        <i class="fa fa-fw fa-tasks"></i>
                        <p>Customize Jenis Jabatan</p>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/admin/category">
                <i class="now-ui-icons education_atom"></i>
                <p>Customize Categories</p>
            </a>
        </li>
        <li>
            <a href="/admin/sidebar">
                <i class="now-ui-icons location_map-big"></i>
                <p>Customize Sidebar</p>
            </a>
        </li>
        <li>
            <a href="/admin/banner">
                <i class="now-ui-icons ui-1_bell-53"></i>
                <p>Customize Banner</p>
            </a>
        </li>
        <li>
            <a href="/admin/slider">
                <i class="now-ui-icons users_single-02"></i>
                <p>Customize Slider Image</p>
            </a>
        </li>
        <li>
            <a href="/admin/rubix">
                <i class="now-ui-icons design_bullet-list-67"></i>
                <p>Customize Rubix</p>
            </a>
        </li>
        <li>
            <a href="/admin/popup">
                <i class="now-ui-icons text_caps-small"></i>
                <p>Customize Pop up</p>
            </a>
        </li>
        <li>
            <a href="/admin/fileManager">
                <i class="now-ui-icons text_caps-small"></i>
                <p>File Manager</p>
            </a>
        </li>
    </ul>
    </div>
</div>