<div class="sidebar" data-color="orange">
    <!--        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"    -->
    <div class="logo">
    <a href="/" class="simple-text logo-mini">
        PII
    </a>
    <a href="/admin" class="simple-text logo-normal">
        Admin Dashboard
    </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
    <ul class="nav">
        <li>
            <a href="/admin">
                <i class="now-ui-icons design_app"></i>
                <p>Dashboard</p>
            </a>
        </li>

        <li class="nav-item" data-toggle="tooltip">
            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
                <i class="now-ui-icons location_map-big"></i>
                <p>Kustomisasi Post</p>
            </a>
            <ul class="sidenav-second-level collapse" id="collapseComponents">
                <li>
                    <a href="/admin/posts/create">
                        {{!-- <i class="now-ui-icons design_app"></i> --}}
                        <p>Tambahkan Post Baru</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/posts">
                        {{!-- <i class="now-ui-icons design_app"></i> --}}
                        <p>Tampilkan Semua Post</p> 
                    </a>
                </li>
                <li>
                    <a href="/admin/category">
                        {{!-- <i class="now-ui-icons education_atom"></i> --}}
                        <p>Kustomisasi Kategori Post</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip">
            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseStrukturOrganisasi" data-parent="#exampleAccordion">
                <i class="now-ui-icons users_single-02"></i>
                <p>Struktur Organisasi</p>
            </a>
            <ul class="sidenav-second-level collapse" id="collapseStrukturOrganisasi">
                <li>
                    <a href="/admin/pengurus/create">
                        {{!-- <i class="fa fa-fw fa-plus"></i> --}}
                        <p>Tambahkan Pengurus Baru</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/pengurus">
                        {{!-- <i class="fa fa-fw fa-list"></i> --}}
                        <p>Tampilkan Semua Pengurus</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/jenis-jabatan">
                        {{!-- <i class="fa fa-fw fa-tasks"></i> --}}
                        <p>Kustomisasi Jenis Jabatan</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip">
            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseHomepage" data-parent="#exampleAccordion">
                <i class="fa fa-fw fa-home"></i>
                <p>Kustomisasi Halaman Utama</p>
            </a>
            <ul class="sidenav-second-level collapse" id="collapseHomepage">
                <li>
                    <a href="/admin/banner">
                        <p>Kustomisasi Banner</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/slider">
                        <p>Kostumisasi Gambar Slider</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/rubix">
                        <p>Kostumisasi Rubix</p>
                    </a>
                </li>
                <li>
                    <a href="/admin/popup">
                        <p>Kostumisasi Pop up</p>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/admin/sidebar">
                <i class="now-ui-icons design_bullet-list-67"></i>
                <p>Kustomisasi Sidebar</p>
            </a>
        </li>
        <li>
            <a href="/admin/fileManager">
                <i class="fa fa-fw fa-folder"></i>
                <p>File Manager</p>
            </a>
        </li>
    </ul>
    </div>
</div>